@font-face { 
  font-family: "MuseoSansCyrl";
  src: url("./MuseoSansCyrl900.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

@font-face { 
  font-family: "MuseoSansCyrl";
  src: url("./MuseoSansCyrl700.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face { 
  font-family: "MuseoSansCyrl";
  src: url("./MuseoSansCyrl500.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face { 
  font-family: "MuseoSansCyrl";
  src: url("./MuseoSansCyrl300.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}